.song-container {
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  img {
    width: 25%;
    border-radius: 50%;
  }
  h2 {
    padding: 2rem 0rem 1rem 0rem;
    font-size: 2rem;
  }
  h3 {
    font-size: 1rem;
  }
}
